<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">You Are Authorized</h1>
    <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home">Username: <%= current_user.username %> </h2>
    <h2 class="home">E-mail:  <%= current_user.email %> </h2>
    <h2 class="home">Starred Repos: <%= link_to @starred_number, starred_path %></h2>
    <h2 class="home">Followers: <%= link_to @followers_number, followers_path %></h2>
    <h2 class="home">Following: <%= link_to @following_number, following_path %></h2>
    <h2 class="home">Recent commits: <%= link_to @recent_commits_number, recent_commits_path %></h2>
    <h2 class="home">Followers_activity: <%= link_to @follower_activity_number, followers_activity_path %></h2>
    <h2 class="home">User_repos: <%= link_to @user_repos_number, repos_path %></h2>
    <%= link_to "Logout", logout_path, class: "btn btn-lg btn-default btn-home" %>
    </br></br>
  </div>
  <div class="col-md-2"></div>
</div>
