<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Starred Repos</h1></br>
    <ul>
      <% @starred.each do |star| %>
        <h2 class="home">Name: <%= star.name %></h2>
        <h2 class="home">Link: <%= star.link %></h2>
        <h2 class="home">Language: <%= star.language %></h2>
        <h2 class="home">Created: <%= Time.parse(star.created) %></h2>
        <h2 class="home">Updated: <%= Time.parse(star.updated) %></h2>
        </br>
      <% end %>
    </ul>
    <%= link_to "Go back to dashboard", dashboard_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
